{% extends 'index.html' %}



{% block content %}



<div class="panel panel-success">
   <div class="panel-heading">LOGIN</div>
   <div class="panel-body">


      <form method="POST">
         <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
               <input class="input" type="text" name="username" placeholder="Username">
               <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
               </span>
            </div>
         </div>
         <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">
               <input class="input" type="password" name="password" placeholder="Password">
               <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
               </span>
            </p>
         </div>
         <div class="field">
            <p class="control">
               <input type="submit"  value='SUBMIT' class="btn btn-success"/>
                  
                 
               
            </p>
         </div>
      </form>

   </div>
</div>



{% endblock %}