{% extends 'index.html' %}






{% block content %}


<div class="panel panel-success">
    <div class="panel-heading">DATA</div>
    <div class="panel-body">
        <div class="panel panel-success">
            <div class="panel-heading">OPTIONS</div>
            <div class="panel-body">
                <form id="formFan">
                    <!--
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="temp" id="cbTemp">
                            <label class="form-check-label" for="cbTemp">TEMP.</label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="pres" id="cbpres">
                            <label class="form-check-label" for="cbpres">PRES.</label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="soil1" id="cbSoil1">
                            <label class="form-check-label" for="cbSoil1">SOIL. 1</label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="soil2" id="cbSoil2">
                            <label class="form-check-label" for="cbSoil2">SOIL. 2</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="air_quality" id="cbair_quality">
                            <label class="form-check-label" for="cbair_quality">AIR</label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="fan_state" id="cbFan">
                            <label class="form-check-label" for="cbFan">FAN</label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="lamp_state" id="cbLamp">
                            <label class="form-check-label" for="cbLamp">LAMP</label>
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" name="hum" id="cbHum">
                            <label class="form-check-label" for="cbHum">HUM.</label>
                        </div>

                    </div>-->
                    <p></p>
                    <div class="row">
                        <label class="range-label" for="days">DAYS: <output class="range_label"
                                id="labelDays">10</output></label>
                    </div>
                    <div class="row">
                        <input type="range" id="days" name="days" min="1" max="28" value="10"
                            oninput="update_value_label('#labelDays', this.value)" />
                    </div>

                    <div class="row">
                        </p>
                        <input type="submit" value="LOAD" class="btn btn-success" id="submitOptions" />
                    </div>
                </form>
            </div>
        </div>
        <canvas id="myChart" width="600" height="700"></canvas>
        
        </div>




    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript">


    $(document).ready(function () {
        $('form').on('submit', function (event) {
            event.preventDefault();

            // It returns a array of object 
            let userinfo = $(this).serializeArray();
            //console.log(userinfo)
            let user = {};
            userinfo.forEach((value) => {

                // Dynamically create an object
                user[value.name] = value.value;
            });
            let url = "/plots/options";
            $.ajax({
                method: "POST",
                url: url,
                data: user,
                success: function (response) {
                    //console.log(response)
                    let myData = response;
                    var params = ['date', 'temp', 'hum', 'pres', 'soil1', 'soil2', 'lamp_phase',
                        'lamp_state', 'lamp_g_state', 'lamp_g_duration',
                        'irrigation_interval', 'irrigation_duration',
                        'soil_moist_hyst_min', 'soil_moist_hyst_max', 'pot1_dry',
                        'pot2_dry',
                        'temp_hyst_min', 'temp_hyst_max', 'hum_hyst_min', 'hum_hyst_max',
                        'fan_state', 'cpu_temp', 'air_quality']
                    var colors = {}
                    params.forEach(function (element, index) {
                        colors[element] = getRandomColor()
                    })

                    var keys = Object.keys(myData)


                    let my_datasets = [];
                    var xValues = []
                    var values = Object.values(myData['date_secs'])
                    values.forEach(function (element, index) {
                        ;
                        xValues.push(secondsToTimeString(element));
                    });

                    //console.log(xValues)
                    delete myData["date"];
                    delete myData["date_secs"];



                    for (const key in myData) {
                        let dataset = {
                            label: key,
                            hidden: true,
                            data: Object.values(myData[key]),
                            borderColor: colors[key],
                            fill: false
                        };

                        my_datasets.push(dataset)
                    }

                    //console.log(my_datasets);
                    new Chart("myChart", {
                        type: "line",
                        data: {
                            labels: xValues,
                            datasets: my_datasets
                        },
                        options: {
                            legend: { display: true, align: 'start', usePointStyle: true}
                        }
                    });

                },
                dataType: "json"
            })
        });
    });

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    function secondsToTimeString(seconds) {
        var date = new Date(seconds * 1000);
        var time = date.getDate() +
            '-' + date.getMonth() +
            '-' + date.getFullYear() +
            ' ' + date.getHours() +
            ':' + date.getMinutes() +
            ':' + date.getSeconds();

        console.log(time)
        return time

    }

    //updata range label
    function update_value_label(label, value) {
        document.querySelector(label).value = value;
    }

    //plot


</script>
{% endblock %}