<!DOCTYPE html>
<html>

<head>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        h1 {
            color: green;
        }

        h3 {
            text-align: center;
        }

        input,
        span {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div>
        <h1 class="container">
            GeeksforGeeks
        </h1>
        <h3>Submitting the form without page refresh</h3>
    </div>
    <form>
        <div class="container">
            <input placeholder="Name" type="text" name="Name" />
            <input placeholder="Job" type="text" name="job" />
            <input type="submit" />
        </div>
        <span class="container"></span>
    </form>
    <form>
        <div class="container">
            <input placeholder="Weight" type="text" name="weight" />
            <input placeholder="Length" type="text" name="length" />
            <input type="submit" />
        </div>
        <span class="container"></span>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').on('submit', function (event) {
                event.preventDefault();

                // It returns a array of object 
                let userinfo = $(this).serializeArray();
                console.log(userinfo)
                let user = {};
                userinfo.forEach((value) => {

                    // Dynamically create an object
                    user[value.name] = value.value;
                });
                let url = "/preferences";
                $.ajax({
                    method: "POST",
                    url: url,
                    data: user
                })
            });
        });
    </script>
</body>

</html>